/*Styling for add form*/
#addjob {
    flex-basis: 35%;
}

.addjobform-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.addjobform-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.addjobform-select {
    padding: 10px 12px;
    font-size: 16px;
    color: var(--color-black-hover);
    border: 1px solid var(--color-light-grey);
    background-color: var(--color-white);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.addjobform-select:hover {
    border-color: var(--color-grey);
}

.addjobform-select option {
    color: var(--color-black);
    font-size: 16px;
}

.addjobform-input {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid var(--color-light-grey);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.addjobform-input:hover {
    border-color: var(--color-grey);
}

.addjobform-input::placeholder {
    color: var(--color-light-grey);
    font-style: italic;
}

.addjobform-buttons {
    display: flex;
    justify-content: space-between;
}

.addjobform-buttons button {
    width: 100px;
}

.spacer {
    margin: 5px;
    border-left: var(--color-light-grey) 2px solid;
}

.addJobform-parallel {
    display: flex;
    justify-content: space-between;
}

.middle {
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 1000px) {

    /*Style fo saved jobs*/
    #addjob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;

        opacity: 0;
        transform: translateX(-50px);
        animation: slide-in 0.5s ease-out forwards;
    }

    @keyframes slide-in {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .addjobform-group {
        min-width: 100%;
    }

    .addJobform-parallel {
        display: block;
    }
}