/* Specifik stil för Confirm Delete Modal */
.confirm-delete-container {
    height: 180px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-delete-text {
    margin-bottom: 5px;
}

.confirm-delete-section {
    text-align: center;
    margin-bottom: 20px;
}

