.filter-select {
    padding: 10px 12px;
    font-size: 16px;
    color: var(--color-hover-black);
    border: 1px solid var(--color-light-grey);
    background-color: var(--color-white);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input,
.search {
    width: 100%;
    position: relative;
}

.filter-options {
    display: flex;
}

.filter-options div {
    margin-top: 5px;
}

.space-right {
    margin-right: 5px;
}

.zoom_out {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 11px;
    right: 20px;
    gap: 0px;
}