@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

#root {
    --color-primary: #16928E;
    --color-secondary: #80C7C5;
    --color-primary-hover: #116b68;
    --color-interview: #E07EA0;
    --color-rejected: #eb6565;
    --color-danger: #A60000;
    --color-danger-hover: #720202;
    --color-white: #ffffff;
    --color-light: #f8f9fa;
    --color-light-shade: #EEEEEE;
    --color-light-grey: #B2B2B2;
    --color-grey: #888888;
    --color-black: #515050;
    --color-black-hover: #000000;

    --border-radius: 10px;

    font-family: 'Outfit', sans-serif;
    color: #000000;
    height: 100vh;
    width: 100vw;
    background: var(--color-light)
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    height: 99px;
    width: 100vw;
    background-color: #93D8D6;
    box-shadow: 5px 5px 10px 4px #00000033;
}

header img {
    position: absolute;
    width: 48px;
    height: 58px;
    top: 19px;
    left: 150px;
    gap: 0px;
}

header button {
    position: absolute;
    width: 148px;
    height: 40px;
    top: 33px;
    right: 20px;
    gap: 0px;
}

#home {
    width: 100%;
    margin-top: 120px;
    min-height: 90vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}



input,
button,
select {
    border-radius: var(--border-radius);
}

/*Main button*/
button {
    padding: 12px 15px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-primary-hover);
}

.disabled-button {
    background-color: var(--color-grey);
}

.disabled-button:hover {
    background-color: var(--color-grey);
    cursor: no-drop;
}

.archive {
    background-color: var(--color-black);
}

.delete {
    background-color: var(--color-danger);
}

.delete:hover {
    background-color: var(--color-danger-hover);
}

.archive:hover {
    background-color: var(--color-black-hover);
}

h1 {
    font-weight: 700;
    line-height: 50.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

p a {
    font-size: 16px;
    font-weight: 650;
    line-height: 20.16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.applied {
    background-color: var(--color-secondary);
}

.interview {
    background-color: var(--color-interview);
}

.rejected {
    background-color: var(--color-rejected);
}