@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

#root {
    --color-primary: #16928E;
    --color-secondary: #80C7C5;
    --color-primary-hover:#116b68;
    --color-interview: #E07EA0;
    --color-denied: #eb6565;
    --color-danger: #A60000;
    --color-danger-hover: #720202;
    --color-light: #f8f9fa;
    --color-light-grey:#B2B2B2;
    --color-grey: #888888;
    --color-black: #515050;
    --color-black-hover: #000000;

    font-family: 'Outfit', sans-serif;

    height: 100vh;
    width: 100vw;
    background: var(--color-light)
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Main button*/
button {
    padding: 12px 15px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-primary-hover);
}

.disabled-button {
    background-color: var(--color-grey);
}

.disabled-button:hover {
    background-color: var(--color-grey);
    cursor: no-drop;
}

.archive {
    background-color: var(--color-black);
}

.delete {
    background-color: var(--color-danger);
}

.delete:hover {
    background-color: var(--color-danger-hover);
}

.archive:hover {
    background-color: var(--color-black-hover);
}

h1 {
    font-weight: 700;
    line-height: 50.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

p a {
    font-size: 16px;
    font-weight: 650;
    line-height: 20.16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/*Home styles*/
#home {
    width: 100%;
    min-height: 90vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}