/* Specifik stil för Password Reset Modal */
.password-reset-container {
    height: 270px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-reset-input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.password-reset-message {
    font-size: 14px;
    margin-top: 10px;
}

.password-reset-success {
    color: green;
}

.password-reset-error {
    color: red;
}

.message-container {
    height: 50px;
}


/*Overide on .modal in index.css*/
.modal-btn {
    width: 120px;
}

.modal-close-btn {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    margin-left: 350px;
    height: 20px;
    padding: 0;
}