.start-page {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.start-right,
.start-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.start-left {
    background: url("../assets/logo-bg.svg");
}

.startform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    margin-right: 100px;
}

.startform h1 {
    margin-bottom: 20px;
}

.startform form a {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    text-decoration-skip-ink: none;
}

.startform form {
    align-self: stretch;
    margin-bottom: 30px;
}

.inputcontainer {
    margin-top: 12px;

}

.inputcontainer input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--color-light-grey);
    width: 100%;
    margin-right: 10px
}

.inputcontainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.submitbutton {
    margin-top: 20px;
    min-width: 100%
}

.disabled-button {
    margin-top: 20px;
    min-width: 100%
}

.eyeContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

.eyeIconOpen {
    cursor: pointer;
    position: absolute;
    margin-right: 12px;
    margin-block-end: 70px;
    font-size: 20px;
    color: var(--color-dark);
}

.eyeIconClosed {
    cursor: pointer;
    position: absolute;
    margin-right: 12px;
    margin-block-end: 70px;
    font-size: 20px;
    color: var(--color-grey);
}

.password-requirements {
    margin-top: 10px;
}

.password-requirements ul {
    list-style-type: none;
    padding: 0;
}

.password-requirements {
    text-align: left;
}

.password-requirements ul {
    text-align: start;
}

.password-requirements li::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.password-requirements li.valid::before {
    background-image: url("../assets/check.svg");
}

.password-requirements li.invalid::before {
    background-image: url("../assets/close.svg");
}

.check-box-container {
    padding: 5px;
    margin-top: 5px;
    display: -webkit-box;
}

@media only screen and (max-width: 1000px) {
    .start-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        align-items: center;
    }

    .start-right,
    .start-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start-right {
        height: 80%;
        width: 80%;
        background-size: contain;
    }

    .start-left {
        height: 20%;
        width: 100%;
        background-position: bottom;
        background-size: 100%;
    }

    .start-left img {
        height: 40%;
    }

    .startform {
        min-width: 100%;
        margin-right: 0;
    }

    .startform form {
        margin-bottom: 10px;
    }

    .startform h1 {
        margin-bottom: 0;
    }
}